[Unit]
Description=Run DigitalOcean dynamic DNS updater every hour and on boot

[Timer]
OnBootSec=1min
OnUnitActiveSec=1hour

[Install]
WantedBy=timers.target
