[Unit]
Description=Weechat IRC Client (in tmux)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.tmux/irc-session.sh start
ExecStop=%h/.tmux/irc-session.sh stop

[Install]
WantedBy=default.target
